:root {
  /* SPACES */
  --space0: 0.5rem;
  --space1: 1rem;
  --space2: 2rem;
  --space3: 2.5rem;
  --space4: 4rem;

  /* BORDER RADIUS */
  --border-radius-1: var(--space0);

  /* COLORS */
  --color-green-500: #60B973;
  --color-green-600: #46A059;
  --color-white: #ffffff;
  --color-grey-700: #3C3C3C;
  --color-grey-800: #292929;

  --background-color: var(--color-green-500);
  --sidebar-background-color: var(--color-green-600);
  --text-color: var(--color-white);
  --canvas-background-color: var(--color-grey-700);
  --canvas-overlay-background-color: var(--color-grey-800);
}
